<h1>Admin Dashboard</h1>

<button class="btn btn-outline-success" (click)="logout()">Logout</button>

<h2>Products</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td><input type="number" [(ngModel)]="product.price"></td>
      <td><input type="number" [(ngModel)]="product.stock"></td>
      <td><button class="btn btn-primary" (click)="saveChanges(product)">Save</button></td>
    </tr>
  </tbody>
</table>
